@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Tilt+Prism&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    position: relative;
}

:root {
    /* Theme Color */
    --secondary-100: #E66666;
    --secondary-200: #e35050;
    --secondary-300: #df3b3b;
    --secondary-400: #dc2525;
    --secondary-500: #d80f0f;
    --secondary-600: #be0b0b;
    --secondary-700: #a40808;
    --secondary-800: #890404;
    --secondary-900: #6f0000;



    --primary-100: #fbdc6f;
    --primary-200: #fad34b;
    --primary-300: #facf39;
    --primary-400: #eec433;
    --primary-500: #e1b92c;
    --primary-600: #d5ae26;
    --primary-700: #c8a320;
    --primary-800: #ae8c13;
    --primary-900: #957606;


    --accent: blue;
    --white: #fff;
    --black: #222;
}

a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: var(--bs-black);
}

a:hover {
    color: var(--primary);
}

input,
button {
    outline: none;
    border: 0px;
    background: none;
}

.webkit {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

figure {
    margin: 0px;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    box-shadow: rgba(128, 128, 128, 0.51) 0px 0px 5px inset;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-400);
}

::selection {
    color: rgba(255, 255, 255, 0.745);
    background: var(--primary-100);
}

section {
    padding: 30px 0px;
}

figure.overlay {
    position: relative;
}


h1,
h2,
h3,
h4,
h5,
h6,
label,
ul,
ol,
li,
p {
    margin: 0px;
    list-style: none;
    padding: 0px;
}

.views {
    color: var(--primary);
}

.fa-star {
    color: #e1e1e1;
    font-size: 23px;
    cursor: pointer;
}

.orange {
    color: orange;
}

body {
    filter: grayscale(1);
}

/*==========Custom Css==========*/




/*==========Home Page start========== */


/*==========Header start========== */

.logo {
    width: 170px;
    flex: 0 0 180px;
    display: flex;
    align-items: center;
    padding: 7px 20px;
    background: var(--secondary-700);
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

.header_top {
    background: var(--secondary-200);
    /* padding: 10px; */
}

.header_bottom {
    padding: 10px;
    background: var(--secondary-700);
}

.header_top_content {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.form {
    background: white;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    max-width: 500px;
}

.form input {
    background: white;
    padding-left: 14px;
    width: 100%;
}

.form button {
    padding: 4px 20px;
    background: var(--primary-400);
    height: 100%;
    color: white;
}

.icons {
    display: flex;
    align-items: center;
    gap: 13px;
}

.social_icons {
    background: red;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 17px;
}

.header_top_form {
    /* max-width: 500px; */
    padding: 10px 0;
    width: 100%;
    flex: 1;
}

.form button {}

.nav_links ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

header {
    position: relative;
}

.nav_link {
    color: white;
}

.header_bottom_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.discount {
    border-left: 1px solid #ffffff78;
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.discount_btn {
    padding: 3px 10px;
    color: white;
}

.discount_btn.active {
    background: var(--primary-600);
    border-radius: 5px;
}

.menu_bar i {
    color: white;
    font-size: 26px;
    display: flex;
}

.menu_bar {
    display: none;
}

/*==========Header  end========== */


/*==========Hero  start========== */
.hero_main {
    background-image: url(../images/wave.svg);
    background-color: #fafafa;
    height: 400px;
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat-y: no-repeat;
}

.hero_form {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    z-index: 2;
}

.hero {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    gap: 20px;
}

.hero_form h4 {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    font-size: clamp(30px, 5vw, 40px);
}

.hero_form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    padding-bottom: 100px;
}

.form_hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0px 0px 2px var(--primary-400);
    max-width: 750px;
}

.search_icon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 7px;
    border-right: 1px solid #0004;
    font-size: 20px;
    color: var(--primary-400);
}


.store_card figure {
    height: 100px;
    padding: 21px;
    width: 100%;
    background: white;
}

.hero_store {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(157px, 1fr));
    gap: 20px;
}

.store_card {
    display: flex;
    flex-direction: column;
    gap: 1px;
    transition: 0.3s;
    border: 1px solid #0004;
    border-radius: 5px;
    transition: 0.3s;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.store_card span {
    text-align: center;
    font-size: 16px;
    color: black;
    font-weight: 500;
    transition: 0.3s;
    border-top: 1px solid transparent;
}


.store_card figure img {
    height: 100%;
    width: 100%;
    transition: 0.3s;
}

.store_card:hover .store_card_img img {
    scale: 1.1;
}

.store_card:hover span {
    border-color: #0004;
}

/*==========Hero  end========== */


/*==========Blog========== */
.main_heading h4 {
    font-size: 29px;
    font-weight: 600;
}

.main_heading {
    padding: 5px 10px;
    border-left: 3px solid var(--primary-100);
    border-radius: 10px;
    margin-bottom: 30px;
}

.blog {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.blog_child {
    flex: 1 1 300px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.blog_child:not(.blog_child_middle) {
    max-height: 370px;
    overflow-y: auto;
}

.blog_child::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: none !important;
}

.blog_child::-webkit-scrollbar-thumb {
    background: #0002;
}

.blog_card {
    display: flex;
    gap: 10px;
    overflow: hidden;
    flex: 1 1 300px;
}

.blog_card_img {
    flex: 0 0 110px;
    overflow: hidden;
    height: 110px;
}

.blog_card_img figure {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.blog_card_img figure img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: 1s;
}

.blog_tag a {
    background-color: var(--secondary-100);
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
}

.blog_card_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.blog_child_middle .blog_card_content {
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 100%;
    left: 0;
    background: linear-gradient(0deg, #000000b3, transparent);
    padding: 15px;
    justify-content: flex-end;
    transition: 0.3s;
}

.blog_child_middle .blog_card_content h4 {
    color: white;
}

.blog_card_date {
    color: #e7e7e7d6;
    display: flex;
    align-items: center;
    gap: 5px;
}

.blog_card_title h4 {
    font-size: 20px;
    -webkit-line-clamp: 2;
    font-weight: 600;
    color: black;
}

.blog_middle_Card {
    position: relative;
}

.blog_middle_Card figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.blog_middle_Card {
    height: 370px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.blog_middle_Card figure {
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.blog_middle_Card_content .blog_tag a {
    color: white;
    background: var(--primary-500);
}

.blog_middle_Card_content .blog_card_title h4 {
    color: white;
}

.blog_middle_Card_img:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), #00000024);
    bottom: 0px;
    border-radius: 5px;
}

.blog_middle_Card_content .blog_card_date {
    color: #ffffffb3;
    display: flex;
    align-items: center;
    gap: 20px;
}

.latest-blog .l_blog_parent .blog_middle_Card {
    flex: 1 1 300px;
    max-height: 175px;
}

.blog_card:hover .blog_card_img figure img {
    scale: 1.1;
}

.blog_middle_Card:hover figure img {
    scale: 1.1;
    filter: blur(2px);
}

.blog_middle_Card:hover .blog_card_content {
    padding-bottom: 20px;
}

.blog_middle_Card:hover .blog_middle_content {
    bottom: 15px;
}


/*==========Blog end========== */



/*==========pupolar Category========== */
.category_main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
    gap: 20px;
}


.cateogory_img {
    height: 140px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 0px 7px #0004;
}

.cateogory_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.category_card_content {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    transition: top .3s ease-in-out, transform .3s, left .3s ease-in-out;
    bottom: 0;
    position: absolute;
    /* transform: translateX(-50%); */
    transition: 0.3s;
    /* top: 100%; */
    left: 0;
}

.category_card_content h4 {
    color: white;
    padding: 5px 14px;
    border-radius: 5px;
    background: var(--primary-600);
    font-size: 20px;
}

.category_card:hover .cateogory_img img {
    filter: blur(1px);
}

.cate_main {
    display: flex;
    gap: 20px;
}

.cate_sidebar {
    flex: 0 0 120px;
}

.arrow {
    height: 40px !important;
    background: var(--primary-400);
    border-radius: 50%;
    width: 40px !important;
    box-shadow: 0px 0px 3px  #0004;
}

.arrow:hover {
    background: var(--primary-600);
}

.arrow:after {
    color: #893035;
    font-size: 15px !important;
    font-weight: 600;
}

.swiper-button-prev.arrow {
    left: -42px !important;
    transition: 0.3s;
}

.swiper:hover .swiper-button-prev.arrow {
    left: 10px !important;
}

.swiper-button-next.arrow {
    right: -42px !important;
    transition: 0.3s;
}

.swiper:hover .swiper-button-next.arrow {
    right: 10px !important;
}

.category_card {
    overflow: hidden;
}

.swiper-slide:has(.category_card) {
    max-width: 250px;
}

/*==========pupolar Category end ========== */



/*==========desclaimer========== */
.details p {
    font-size: 15px;
    font-weight: 400;
}

.disclaimer_main {
    display: flex;
    align-items: center;
    gap: 30px;
    background-image: url(../images/disclaimer.svg);
    border-radius: 5px;
    padding: 5px;
    background-position: right;
    background-size: 1620px 200px;
    background-repeat: no-repeat;
}

.desclaimer_img {
    flex: 0 0 410px;
    background-image: url(../images/disclaimer.svg);
}

.desclaimer_img svg {
    height: 170px;
    width: 100%;
}

/*==========desclaimer end ========== */



/*==========Store_home ========== */

.flex_start {
    align-items: flex-start;
}

.store_slidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    /* box-shadow: 1px 1px 10px #0004; */
}
.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }


.store_home_main .swiper-grid-column>.swiper-wrapper {
  flex-flow: wrap row;
  gap: 20px 0px;
}

.store_home_main .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;
  /* margin-bottom: 20px !important; */
  margin-top: 0 !important;
  max-width: 187px !important;
}

.store_card_img {
  background: white;
  height: 101px;
  width: 90px;
  padding: 5px;
}

.store_card_img img {
  height: 100%;
  width: 100%;
  transition: 0.3s;
  object-fit: contain;
}

.store_card_title {
  text-align: center;
  transition: 0.3s;
  width: 100%;
}

.store_card_title h4 {
  font-size: 16px;
  font-weight: 500;
  border-top: 1px solid #0004;
  padding: 5px 10px;
  background: #0003;
  color: black;
  transition: 0.3s;
}

.store_card:hover .store_card_title {
  background: #0005;
  color: white;
}

.store_card:hover .store_card_title h4 {
  color: white;
}
.position_static {
  position: sticky;
  top: 30px;
  width: 290px;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
  display: inline-block;
  box-shadow: 0 0 1px #000;
  padding: 5px;
  gap: 20px;
}

.store_home_section {/* display: flex; */align-items: flex-start;align-items: center;display: flex;align-items: center;gap: 10px;}

.store_home_main {
  width: calc(100% - 330px);
  display: inline-block;
  float: right;
}
.sidebar_heading h4 {
  font-size: 20px;
  padding-left: 9px;
}
.popular_card {
  position: relative;
  overflow: hidden;
  background: white;
  border: 1px solid #0004;
  border-radius: 5px;
}

.popular_store_title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100%;
  width: 100%;
  height: 100%;
  bottom: 0;
  transition: 0.3s;
  padding: 0 10px;
}

.popular_store_title h4 {
  font-size: 15px;
  text-align: center;
  font-weight: 500;
}

.popular_store_img {
  height: 90px;
  overflow: hidden;
  padding: 5px;
}

.popular_store_img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.popular_store {display: grid;grid-template-columns: repeat(auto-fill, minmax(103px, 1fr));gap: 15px;}

.popular_card:hover .popular_store_title {
    background: white;
    top: 0;
}

.sidebar_heading {
    margin: 0;
    border: 0;
    position: relative;
}
.swiper-button-disabled{
    pointer-events: unset !important;
    cursor: no-drop !important;
}
.sidebar_heading:before {
    content: "";
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    height: 10px;
    width: 10px;
    background: black;
    left: 0;
    top: 7px;
    position: absolute;
    transform: translateY(50%);
}
/*==========Store_home end ========== */


/*==========Contact_Us Done  ========== */
.contact_field :where(label){
    position: absolute;
    top: -10px;
    background: var(--white);
    left: 5px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--primary-300);
}
.contact_field :where(input){
    height: 100%;
    width: 100%;
    padding: 12px 15px;
}
.contact_field {
    flex: 1 1 300px;
    height: 45px;
    border: 1px solid var(--primary-400);
    display: flex;
    align-items: center;
    border-radius: 8px;
    position: relative;
}
.contact_field :where(input, textarea) {
    height: 100%;
    width: 100%;
    padding: 12px 15px;
    resize: none;
    border: none;
    outline: var(--primary-100);
    background-color: transparent;
}

.contact_field :where(input, textarea) :focus{
    border-color: #6f0000;
}
.contact_form {
    display: flex;
    grid-gap: 25px;
    align-items: flex-start;
    flex-flow: wrap;
    flex: 1;
    position: sticky;
    top: 0;
}
.contact_field:has(textarea) {
    min-height: 150px;
    width: 100%;
    flex: 0 0 100%;
}
.contact_field:has(input:focus){
    border-color: var(--secondary-100) ;
    transition: 0.3s;
}
.contact_field:has(input:focus) label{
    color:var(--secondary-100)  !important;
    transition: 0.3s;
}
.contact_field:has(textarea:focus){
    border-color: var(--secondary-100);
    transition: 0.3s;
}
.contact_field:has(textarea:focus) label{
    color: var(--secondary-100) !important;
    transition: 0.3s;
}
.contact {display: flex;gap: 30px;align-items: flex-start;}

.side_bar {
    flex: 0 0 400px;
    padding: 15px 20px;
    box-shadow: 0px 0px 2px #0004;
    border-radius: 5px;
    top: 0;
}
.contact_main {
    align-items: flex-start;
}
.side_bar_content p {
    font-size: 14px;
}
.side_bar_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social_media {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social_media i {
    font-size: 25px;
    background: red;
    padding: 5px;
    border-radius: 5px;
    color: white;
    border-radius: 50px;
}

.sidebar_media {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.social_media p {
    font-size: 17px;
    font-weight: 500;
}
/*==========Contact_us end ========== */




/*==========SIngle Store Card ========== */
.single_card {
    display: flex;
    gap: 14px;
    padding: 20px;
    border-radius: 5px;
    align-items: center;
    margin-left: 40px;
    box-shadow: 0px 0px 4px #0004;
}
.single_card_img {
    flex: 0 0 123px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 5px;
    margin-left: -40px;
    box-shadow: 0px 0px 2px;
}
.single_card_img figure img {
    height: 100%;
    width: 100%;
    /* padding: 10px; */
}
.single_card_img figure {
    padding: 10px;
    height: 54px;
}

.single_cards_main {
    /* text-align: center; */
    width: 100%;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(510px, 1fr));
}

.single_card_contetn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.single_card_date {
    display: flex;
    gap: 20px;
}

.single_card_tag {
    position: absolute;
    top: -30px;
    right: -7px;
}

.single_card_tag span {
    padding: 4px 18px;
    background: gainsboro;
    border-radius: 5px 0 5px 5px;
}

.single_card_tag:before {
    content: "";
    position: absolute;
    background: gainsboro;
    height: 10px;
    width: 10px;
    left: 100%;
    top: 0px;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
.time , .users {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.single_title h4 {
    font-size: 20px;
    font-weight: 600;
}
.action {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 10px 0;
    align-items: center;
}
.coupons-btn {
    flex: 0 0 180px;
    height: 40px;
    background-color: var(--secondary-100);
    position: relative;
    color: white;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coupons-btn::after {
    content: "***123";
    position: absolute;
    background-color: var(--primary-900);
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    justify-content: center;
    left: -180px;
    top: 0%;
    transition: all 0.4s ease 0s;
}
.coupons-btn:hover::after {
    left: -10px;
}
.code_button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.single_details {
    -webkit-line-clamp: 2;
}
/*==========SIngle Store Card end ========== */


/*==========Home page end ========== */


/*==========Store page ========== */
.store_section {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.store_card_section {
    flex: 1;
}

.store_cate {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0;
    margin-bottom: 30px;
}

.Store_cate_title {
    font-size: 20px;
    font-weight: 600;
}
.store_card_section .popular_store {
    margin-bottom: 30px;
}
.side_bar{
    position: sticky;
    top: 30px;
    width: 290px;
    transition: all 0.3s ease 0s;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0 0 1px #000;
    padding: 5px;
    gap: 20px;
}
.side_bar_tags {
    flex-wrap: wrap;
    gap: 10px;
    display: flex;
}
.tag_items {
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: 600;
    color: black;
    background: rgb(243, 243, 243);
    transition: all 0.3s ease 0s;
    padding: 6px 20px;
    font-size: 14px !important;
}
.side_bar_alphabet {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.alphabet {
    background: var(--primary-200);
    border-radius: 5px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
}
/*==========Store page End  ========== */


/*==========single page store Start  ========== */
.single_card_section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}   
.about_side_bar p {
    -webkit-line-clamp: 3;
    font-size: 14px;
}
.read_more {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.read_more a {font-size: 14px;color: var(--primary-800);/* display: flex; */align-items: center;}

.read_more i {
    margin-left: -8px;
    opacity: 0;
    transition: 0.3s;
}

.read_more a:hover i {
    opacity: 1;
    margin: 0;
}
.single_top_card {
    display: flex;
    gap: 10px;
    padding: 10px;
    border: 1px solid #0004;
    border-radius: 5px;
    margin-left: 40px;
    align-items: center;
}

.single_top_img {
    flex: 0 0 130px;
    height: 110px;
    overflow: hidden;
    padding: 5px;
    background: white;
    border-radius: 5px;
    border: 1px solid #0004;
    margin-left: -40px;
}

.single_top_img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: 0.3s;
}

.single_top_card:hover .single_top_img img {
    scale: 1.1;
}
.orange{
    color: orange;
}
.single_top_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h4.single_top_title {
    font-size: 20px;
    font-weight: 600;
}

.single_top_content p {
    font-size: 14px;
}

.rating_star i {
    font-size: 19px;
}
.card_filter {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-bottom: 1px solid #80808029;
}

.card_filter .filter {
    background: var(--secondary-400);
    height: 38px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
}

.card_filter .filter.active {
    background: var(--secondary-900);
}

.card_filter .filter:hover {
    background: var(--secondary-900);
}
/*==========single Store page End  ========== */
